/*
Palette de couleurs :
https://coolors.co/272838-f3de8a-eb9486-7e7f9a-f9f8f8
*/
body {
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/020/079/417/large/rob-simpson-relight-02.jpg?1566281283");
    color: white;
    font-family: Arial, sans-serif;
  }
.red {
    color: red;
}

.green {
    color: rgb(44, 255, 96);
}

.blue {
    color: rgb(0, 183, 255);
}

.flex {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h3 {
    align-self: center;
}

/* CONTAINER */
.container  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header {
    width: 80%;
    margin: auto;
}

header h1, header p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
}

/* SECTION */
section {
    margin: 1em 0;
    border-radius: 1em;
}

section h3 {
    width: fit-content;
}

section.flex {
    width: 40%;
    padding: 2em;
}

/* BUTTON SECTION */
section#actionsInventory {
    flex-flow: row;
    justify-content: space-around;
    opacity: 80%;
}

.actions {
    background: black;
    border-radius: 1em;
    display: flex;
    flex-flow: column;
    width: fit-content;
    padding: 2em;
}

.inventory {
    background: black;
    border-radius: 1em;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 30%;
    padding: 2em;
}

button {
    width: fit-content;
    padding: 0.5em;
    align-self: center;
}

button#1:hover{
    
}

/* PLAYER/ENEMY SECTION */

.versus {
    background: black;
    opacity: 80%;
}

#enemy1, #enemy2, #enemy3 {
    display: none;
}

.enemy#enemy1, .enemy#enemy2, .enemy#enemy3 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.profilHead {
    font-size: 5em;
    text-align: center;
    position: relative;
}

#player .profilHead p {
    color: red;
    font-size: initial;
    position: absolute;
    opacity: 0%;
    top : 0;
    right: 40%;
}

#player .profilHead p.damages {
    animation: hit 2s;
}

@keyframes hit {
    0% {
        opacity: 100%;
        scale: 200%;
    }
    10% {
        opacity: 100%;
        top: 0;
        scale: 100%;
    }
    100% {
        opacity: 0%;
        top: -40%;
    }
}

#player .profilHead p.healPotions {
    color: green;
    animation: heal 2s;
}

@keyframes heal {
    0% {
        opacity: 100%;
        scale: 200%;
    }
    10% {
        opacity: 100%;
        top: 0;
        scale: 100%;
    }
    100% {
        opacity: 0%;
        top: -40%;
    }
}

#player .profilHead p.manaPotions {
    color: blue;
    animation: mana 2s;
}

@keyframes mana {
    0% {
        opacity: 100%;
        scale: 200%;
    }
    10% {
        opacity: 100%;
        top: 0;
        scale: 100%;
    }
    100% {
        opacity: 0%;
        top: -40%;
    }
}

.enemy .profilHead p {
    color: red;
    font-size: initial;
    position: absolute;
    opacity: 0%;
    top : 0;
    right: 40%;
}

.enemy .profilHead p.damages {
    animation: hit 2s;
}

@keyframes hit {
    0% {
        opacity: 100%;
        scale: 200%;
    }
    10% {
        opacity: 100%;
        top: 0;
        scale: 100%;
    }
    100% {
        opacity: 0%;
        top: -40%;
    }
}

.healthbar {
    background: green;
    width: 100%;
    text-align: center;
}

.manabar {
    background: blue;
    width: 100%;
    text-align: center;
}

/* COMBAT LOG SECTION */
section#bottomText {
    width: 30%;
    height: 10em;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    opacity: 50%;
    background: black;
    transition: 2s;
}

section#bottomText:hover {
    opacity: 100%;
    background: black;
}

section#bottomText div{
    overflow-y: scroll;
}

section#bottomText p {
    font-size: smaller;
}

/* RULES SECTION */

section#instructions {
    margin-left: auto;
    opacity: 90%;
}

/* INFOBULLES SECTION */

.infobulles {
    position: relative;
}

.infobulle {
    position: absolute;
    background: black;
    width: 250%;
    height: auto;
    padding: 1em;
    opacity: 0%;
    left: -15em;
    top: 0;
    transition: 0.2s;
    z-index: 10;
}

.infobulles:hover .infobulle {
    opacity: 90%;
}